<div *ngIf="seller">

  You can create an advertisement listing for your crop here.

  <form #createAdForm="ngForm" id="createAd"
  enctype="multipart/form-data">

  <div class="form-group">
  Advertisement title: <input type="text" #listing_title="ngModel"
  [(ngModel)]="ad_title" name="listing_title" size="64"
  placeholder="Title. Example: High quality organic groundnuts." required><br>

  <div class="alert alert-danger" *ngIf="listing_title.touched && !listing_title.valid">
     Please give your listing advertisement a title.
  </div>
  </div>

    <div class="form-group">
      <label for="product_name">Product: </label>
        <select
          required
          ngModel
          id="product_name"
          name="product_name"
          #product_name="ngModel">
          <option value="select">Select</option>
          <option *ngFor="let k of products"
          value="{{k.product_name}}">{{k.product_name}}
          </option>

        </select>
        <div class="alert alert-danger" *ngIf="product_name.touched && product_name.value == 'select'">
           Please select a product from the dropdown box.
        </div>
    </div>

    <div class="form-group">
      <label for="measuring_unit">Measuring unit: </label>
        <select
          required
          ngModel
          id="measuring_unit"
          name="measuring_unit"
          #measuring_unit="ngModel">
          <option value="select">Select</option>
          <option *ngFor="let k of measuring_units"
          value="{{k.measuring_unit}}">{{k.measuring_unit}}
        </option>

        </select>
        <div class="alert alert-danger" *ngIf="measuring_unit.touched && measuring_unit.value == 'select'">
           Please select a measuring unit.
        </div>
    </div>

    <div class="form-group">
      <label for="product">Quantity: </label>
        <input
         type="text"
          required
          ngModel
          id="quantity"
          name="quantity"
          #quantity="ngModel"/>
        <div class="alert alert-danger" *ngIf="quantity.touched && !quantity.valid">
           How much quantity are you selling?
        </div>
    </div>

    <div class="form-group">
      <label for="price">TOTAL Price </label>
        <input
         type="text"
          required
          ngModel
          id="price"
          name="price"
          #price="ngModel"/>
        <div class="alert alert-danger" *ngIf="price.touched && !price.valid">
           Please specify the price
        </div>
    </div>

    <div class="form-group">
      <label for="item_picture">Upload picture: </label>
      <input type="file"
         required
         (change)="onFileSelected($event)"
         id="item_picture" name="item_picture"

        accept="image/png, image/jpeg"/>
    </div>

<button (click)="onSubmit(createAdForm)" class="btn btn-succes" type="submit"
[disabled]="!createAdForm.form.valid">Submit</button>
 </form>

 <div *ngIf="createAdForm.valid">
   Your listing: {{quantity.value}} {{measuring_unit.value}} of {{product_name.value}}
   <span *ngIf="listing_id">Click <a href="/listing/{{listing_id}}">here </a> to view.</span>
 </div>

 <div *ngIf="errorResponse">
   Sorry, there was an error processing your request. The team has been notified.
 </div>
</div>

<div *ngIf="!seller">
  You're not registered as a seller.
  So please <a href="/register-as-seller">register as a seller</a> first.
</div>
