<div class="container">

  <div *ngFor="let listing of listingDetails">
    <h3>{{listing.listing_title}}</h3>
    <div>Product: {{ listing.product_name }} </div>
    <div>Quantity: {{listing.quantity}} {{listing.product_measuring_unit}}</div>
    <div>Price: {{listing.item_price}} rupees </div>
    <div>Sold by: {{listing.seller_name}}  </div>
    <div>Listed on: {{listing.inventory_item_create_datetime}} </div>
    <div>Listed in category: <a href="/listingsbycategory/{{listing.product_category}}">{{listing.product_category}} </a></div><br />

    <button mat-raised-button  id="contact_seller" *ngIf="listing.soldby === 'user_not_loggedin'"
            (click)="redirectToLogin()">
      Login To Contact Seller</button>

    <button mat-raised-button *ngIf="listing.soldby === 'self'" disabled> This is your listing</button>
    <button mat-raised-button *ngIf="listing.soldby === 'already_contacted'" disabled> Seller already contacted</button>

    <button mat-raised-button *ngIf="listing.soldby === 'real_seller'" (click)="openDialog(listing.inventory_item_id, listing.soldby)">
      Contact Seller</button>
    <br/><br>
    <img style="width: 75%;" src="http://127.0.0.1:8000{{listing.item_picture}}"
         class="img-fluid" alt="Responsive image">

  </div>
</div>
