<div class="container">
  <div *ngIf="listingsAvailable">
    <div *ngFor="let listing of allListings">
      <div class="listing-item-continer">
        <a class=".link-spanner" href="/listing/{{listing.inventory_item_id}}">{{listing.listing_title}}</a>
          <span class="link-spanner"></span>
          <div>Product: {{ listing.product_name }} </div>
          <div>Quantity: {{ listing.inventory_product_quantity }} {{listing.measuring_unit}}</div>
          <div>Price: {{listing.item_price}} rupees </div>
          <div>Listed on: {{ listing.inventory_item_create_datetime }}</div>
          <div>
            Posted in: {{listing.product_category}}
            </div>
          <img style="width: 25%;" src="http://127.0.0.1:8000{{listing.item_picture}}" class="img-fluid" alt="Responsive image">
      </div>
      <hr class="col-xs-12">
    </div>
    </div>
</div>
