<div *ngIf="brokenBackend">
  <b>Sorry, the server isn't functioning. The team has been notified. Please retry after sometime.</b>
</div>
<h4>Listings under category: {{categoryName}}</h4>
<div *ngIf="listingsAvailable">
  <div *ngFor="let listing of listings">
    <div class="listing-item-continer">
      <a class=".link-spanner" href="/listing/{{listing.inventory_item_id}}">{{listing.listing_title}}</a>

      <button mat-raised-button  id="contact_seller" *ngIf="listing.soldby === 'user_not_loggedin'"
              (click)="redirectToLogin()">
        Login To Contact Seller</button>

      <button mat-raised-button *ngIf="listing.soldby === 'self'" disabled> This is your listing</button>
      <button mat-raised-button *ngIf="listing.soldby === 'already_contacted'" disabled> Seller already contacted</button>

      <button mat-raised-button *ngIf="listing.soldby === 'real_seller'" (click)="openDialog(listing.inventory_item_id, listing.soldby)">
        Contact Seller</button>

      <div>Product: {{ listing.product_name }} </div>
      <div>Quantity: {{ listing.inventory_product_quantity }} {{listing.measuring_unit}}</div>
      <div>Price: {{listing.item_price}} rupees </div>
      <div>Listed on: {{ listing.inventory_item_create_datetime }}</div>
      <div>
        Posted in: {{listing.product_category}}
      </div>
      <img style="width: 25%;" src="http://127.0.0.1:8000{{listing.item_picture}}"
           class="img-fluid" alt="Responsive image">
    </div>
    <hr class="col-xs-12">
  </div>
</div>
